.const-image{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contactInfo{
    line-height: 8px;
}






/* button:hover{
    color:rgb(47, 46, 46);
    text-decoration: underline;

}



button.active{
    text-decoration: none;
    border-color: var(--brand);
    background-color: var(--brand);
    color: white;
}

button {
    background: none!important;
    border: none;
    padding: 0 8px;
    font-family: arial, sans-serif;
    color: var(--dark);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
    font-weight: 500;
  }  */
    
/* a:hover {
    color: var(--brand);
} */